// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import '../pages/home/home';
@import "../pages/todo-edit/todo-edit";

h2 {
  color: color($colors, dark);
  font-size: 1.7rem;
  margin:10px 0 0;
  small {
    color: lighten(color($colors, dark), 20%);
    font-weight: normal;
  }
}

ion-list {
  >ion-item-sliding {
    border-bottom: 1px solid color($colors, light);

    .item,
    &:last-child .item {
      border:none;
      margin:0;
    }

    .completed {
        text-decoration: line-through;
        font-style: italic;
    }
  }
}

ion-textarea{
  .text-input {
    font-size: 1.6rem;
    color: color($colors, dark);
    margin:0;
    padding:8px;
    border:1px solid color($colors, light);
    border-radius:3px;
  }
}
